html{
  background: green;
  overflow-y: hidden;
}

.background {   
  background: rgb(52, 166, 251);
  table-layout: fixed;
  border-spacing: 0;
}
.background td { 
  padding: 0;       
}
.lava { 
  background: rgb(255, 100, 100);
}
.wall { 
  background: white;
}

.actor { 
  position: absolute;
}
.coin { 
  background: rgb(241, 229, 89);
}
.player { 
  background: rgb(64, 64, 64);
}

.game {
  overflow-x: hidden;
  overflow-y: hidden;
  max-width: auto;
  max-height: auto;
  position: relative;
}

body {
  margin: 0;
}

.lost .player {
  background: rgb(160, 64, 64);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

.Menu {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-user-select: none;
}

.Menu * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.Menu li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1em;
  padding: 0;
}

.Menu a {
  padding: 0.5em 0.8em;
  margin: 0.2em 0;
  display: block;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  text-decoration: none;
}

.Menu a:before,
.Menu a:after {
  height: 14px;
  width: 14px;
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
}

.Menu a:before {
  left: 0;
  top: 0;
  border-left: 3px solid #c0392b;
  border-top: 3px solid #c0392b;
  -webkit-transform: translate(100%, 50%);
  transform: translate(100%, 50%);
}

.Menu a:after {
  right: 0;
  bottom: 0;
  border-right: 3px solid #c0392b;
  border-bottom: 3px solid #c0392b;
  -webkit-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.Menu a:hover {
  color: #ffffff;
}

.Menu a:hover:before,
.Menu .current a:before,
.Menu a:hover:after,
.Menu .current a:after {
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  opacity: 1;
}
