@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

html{
  background: green;
  overflow: hidden;
}

.background {   
  background: rgb(52, 166, 251);
  table-layout: fixed;
  border-spacing: 0;
}
.background td { 
  padding: 0;       
}
.lava { 
  background: rgb(255, 0, 0);
}
.wall { 
  background: white;
}

.actor { 
  position: absolute;
}
.coin { 
  background: rgb(241, 229, 89);
}
.player { 
  background: linear-gradient(green, rgba(105, 45, 5, 0.808));
}

.game {
  overflow-x: hidden;
  overflow-y: hidden;
  max-width: auto;
  max-height: auto;
  position: relative;
}

body {
  margin: 0;
}

.lost .player {
  background: rgb(160, 64, 64);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}

.lista {
  font-size: 17px;
  top: 70%;
  position: absolute;
  font-weight: bold;
  color: white;
  list-style-type: none;
  font-family: 'Raleway', Arial, sans-serif;
  text-transform: uppercase;
  z-index: 999;
  display: inline;
}


/* MENU */
.Menu {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-user-select: none;
}

.Menu * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.Menu li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1em;
  padding: 0;
}

.Menu a {
  padding: 0.5em 0.8em;
  margin: 0.2em 0;
  display: block;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  text-decoration: none;
}

.Menu a:before,
.Menu a:after {
  height: 14px;
  width: 14px;
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
}

.Menu a:before {
  left: 0;
  top: 0;
  border-left: 3px solid #c0392b;
  border-top: 3px solid #c0392b;
  -webkit-transform: translate(100%, 50%);
  transform: translate(100%, 50%);
}

.Menu a:after {
  right: 0;
  bottom: 0;
  border-right: 3px solid #c0392b;
  border-bottom: 3px solid #c0392b;
  -webkit-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.Menu a:hover {
  color: #ffffff;
}

.Menu a:hover:before,
.Menu .current a:before,
.Menu a:hover:after,
.Menu .current a:after {
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  opacity: 1;
}


.loader {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.15s;
  position: fixed;
  z-index: 9999;
  background: green;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@-webkit-keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

/* LOADER */
.loading {
  width: 100px;
  height: 100px;
}

.loading__ring {
  position: absolute;
  width: 100px;
  height: 100px;
}

.loading__ring:first-child {
  transform: skew(30deg, 20deg);
}

.loading__ring:last-child {
  transform: skew(-30deg, -20deg) scale(-1, 1);
}

.loading__ring:last-child svg {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.loading__ring svg {
  -webkit-animation: rotate 1s linear infinite;
  animation: rotate 1s linear infinite;
  fill: rgba(0, 0, 0, 0.2);
}
